<br >
<%= link_to "Click here to check the Cart ", cards_path, class: "btn btn-success btn-sm"%><br>
<br>
<br>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
  <div data-controller="hello" >
  <div data-hello-target="detail">
  

  </div>
  <button data-action="click->hello#greet" >Products</button>
  </div>
<br><br>