<h1>LineItems#show</h1>
<p>Find me in app/views/line_items/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cart.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cart.price %>
</p>

<%= link_to 'Back', line_items_path %>
